<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link rel="stylesheet" href="/css/catalogue.css">
</head>
<body>
<header class="header">
    <a href="/" class="logo">Pich</a>
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <nav class="nav">
        <ul class="menu">
            <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="/admin">Admin Tools</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/logout">Sign out</a></li>
        </ul>
    </nav>
</header>
<div>
    <div class="categories">
        <span onclick="changeType(this, 0)" class="selected">ALL</span>
        <span onclick="changeType(this, 1)">BREAD</span>
        <span onclick="changeType(this, 2)">PASTRY</span>
    </div>
    <div class="subcategories">
        <div onclick="changeAdvanced(this, 0)" class="selected">all</div>
        <div onclick="changeAdvanced(this, 1)">lactose free</div>
        <div onclick="changeAdvanced(this, 2)">gluten free</div>
    </div>
</div>
<div class="products" id="products-list">
</div>
</div>
<div id="overlay"></div>
</body>
<script src="/js/catalogue.js"></script>
</html>