<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign_in_sign_up.css">
    <title>Sign in</title>
</head>
<body>
<div class="logo2">
</div>
<div class="form1">
    <form name="f" th:action="@{/login}" method="post">
        <div class="error-message" th:if="${param.error}">Invalid credentials</div>
        <div class="success-message" th:if="${param.logout}">You have been logged out</div>
        <div class="text-tip-form">Email</div>
        <input type="email" placeholder="username@example.com" name="username" required maxlength="40">
        <div class="text-tip-form">Password</div>
        <input type="password" placeholder="Your password" name="password" required minlength="8" maxlength="40">
        <button type="submit">Sign in</button>
        <div class="text-tip-form">Don't have an account? <a href="/register">Sign up</a></div>
    </form>
</div>
</body>
</html>