<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign_in_sign_up.css">
    <title>Sign up</title>
</head>
<body>
<div class="logo2">
</div>
<div class="form1">
    <form name="f" th:action="@{/register}" method="post" onsubmit="validateForm(event)">
        <div class="error-message" style="display: none" id="pass-mismatch">Passwords don't match</div>
        <div class="error-message" th:if="${param.alreadyExists}">User with this email already exists</div>
        <div class="error-message" th:if="${param.invalidData}">
            Check if your credentials follows:<br>
            - Login must be valid email up to 40 characters<br>
            - Password must be from 8 to 40 characters
        </div>
        <div class="text-tip-form">Email</div>
        <input type="email" placeholder="username@example.com" name="username" required maxlength="40">
        <div class="text-tip-form">Password</div>
        <input type="password" placeholder="Your password" id="password" name="password" required minlength="8" maxlength="40">
        <div class="text-tip-form">Repeat password</div>
        <input type="password" placeholder="Confirm password" id="repeated-password" required minlength="8" maxlength="40">
        <button type="submit">Sign up</button>
        <div class="text-tip-form">Already have an account? <a href="/login">Sign in</a></div>
    </form>
</div>
</body>
<script>
    function validateForm(e) {
        for (let el of document.getElementsByClassName("error-message")) {
            el.style.display = "none";
        }
        if (document.getElementById("password").value !== document.getElementById("repeated-password").value) {
            document.getElementById("pass-mismatch").style.display = "block";
            e.preventDefault();
            return false;
        }
        return true;
    }
</script>
</html>