<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/start_page.css">
    <title>Welcome to Pich Bakery</title>
</head>
<body class="customBackground">
<div class="main-big-block-bg">
    <div class="logo-1">
    </div>
    <div class="main-1" th:switch="${#authorization.expression('isFullyAuthenticated()')}">
        <a th:case="false" href="/login" id="start-button-1">GET STARTED</a>
        <a th:case="true" href="/catalogue" id="start-button-1">GO TO CATALOGUE</a>
    </div>
</div>