<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/successful_order.css">
    <title>Order is confirmed</title>
</head>
<body class="customBackground">
<div class="main-big-block-bg">
    <div class="logo-1">
    </div>
    <div class="info-block">
        <p>Your order is confirmed</p>
        <p>Thank you!</p>
    </div>
    <div class="main-1">
        <a href="/catalogue" id="start-button-1">BACK</a>
    </div>
</div>
</body>
</html>